.container {
    margin: 10px 0;
    background: #eee;
    border-radius: 12px;
    border: 1px solid darkgrey;
    min-height: 85px;
    overflow: hidden;
}

.name {
    background: #e5e5e5;
    text-align: center;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.legend {
    font-size: 13px;
    background: #bbbbbb;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
