.container {
    margin: 10px 0;
    background: #eee;
    border-radius: 12px;
    border: 1px solid darkgrey;
    min-height: 85px;
    position: relative;
}

.containerWaitingRoom {
    background: #f6b17b;
    border: 1px solid #f6b17b;
}

.isDragging {
    background: #007bff;
}

.draggingOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: #007bff;
}

.draggingOverlayHovered {
    background: #d4e4ff;
    opacity: .8;
}

.name {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background: #dbdada;
    text-align: center;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.nameWaitingRoom {
    background: #f1a05d;
}

.legend {
    font-size: 13px;
    background: #bbbbbb;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.legendWaitingRoom {
    background: saddlebrown;
    color: #fff;
}
